@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>Photoboom</b></h1><br /><br />
    <p>Welcome to your favourite website</p><br /><br />
   <a href="/Image/" >My Photos</a>
</div>
