@model MyPhotos.Models.ImageModel

@{
    ViewData["Title"] = "Create";
}

<center><h1>Add Photo</h1></center>


<br />
<br />
<hr />

<div class="container" >
   

            <form asp-action="Create" enctype="multipart/form-data" margin:auto>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" align="center" margin:auto;>
                    <label asp-for="Title" class="sola-kaydir"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tags" class="sola-kaydir"></label>
                    <input asp-for="Tags" class="form-control" placeholder="tag1, tag2, tag3" />
                    <span asp-validation-for="Tags" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageFile" class="sola-kaydir"></label>
                    <input asp-for="ImageFile" accept="image/*" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add Photo" class="btn btn-primary" />
                </div>


            </form>
            <a asp-action="Index">Back to List</a>
    </div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
